body{
background-color: rgb(0, 131, 131);
}
img{
    height: 256px;
    width: 864px;
}

h1{
    font-family:Arial, Helvetica, sans-serif
}

h1{
    font-size: 50px;
}
ul{
    font-style: oblique;
    font-size:17px ;
}

ol{
    font-style: italic;
    font-size: 20px;
}
